{{ form_start(form) }}
<div class="field">
    <label class="label">{{ form_label(form.name) }}</label>
    <div class="control">
        {{ form_widget(form.name) }}
    </div>
    <p class="help is-danger">{{ form_errors(form.name) }}</p>
</div>

<div class="field">
    <label class="label">{{ form_label(form.tag) }}</label>
    <div class="control">
        {{ form_widget(form.tag) }}
    </div>
    <p class="help is-danger">{{ form_errors(form.tag) }}</p>
</div>

<div class="field">
    <div class="control">
        {{ form_widget(form.zapisz) }}
    </div>
</div>
{{ form_end(form) }}

<script src="{{ asset('js/tags_helper.js') }}"></script>