{% extends 'base.html.twig' %}
{% block body %}
    <div class="container is-max-desktop">
        <div class="box">
            {% set actualPercent = (metricsHelper.getLiftedKilogramsTotal() / 66000 * 100)|number_format %}
            Aktualny wagon węgla został rozładowany w {{ actualPercent }}%, {{ (metricsHelper.getLiftedKilogramsTotal() / 1000)|number_format }}/66 ton.
            <progress class="progress is-info" value="{{ actualPercent }}" max="100">{{ actualPercent }}%</progress>
        </div>

        <div class="box">
            <canvas
                    id="total-lifted-weight-per-training-chart"
                    data-total-lifted-weight-per-training="{{ metricsHelper.getTotalLiftedWeightPerTraining() }}"
                    data-average-lifted-weight="{{ metricsHelper.getAverageLiftedWeight() }}">
            </canvas>
        </div>

        <div class="box">
            <canvas
                    id="time-spent-per-training"
                    data-time-spent-on-gym-per-training-in-minutes="{{ metricsHelper.getTimeSpentOnGymPerTrainingInMinutes() }}"
                    data-average-time-spent-on-gym-in-minutes="{{ metricsHelper.getAverageTimeSpentOnGymInMinutes() }}">
            </canvas>
        </div>

        <div class="box">
            <div class="select">
                <select id="exercise-to-station-metrics-selector">
                    {% for exerciseToStation in exercisesToStations %}
                        <option data-exercise-id="{{ exerciseToStation['exercise_id'] }}"
                                data-station-id="{{ exerciseToStation['station_id'] }}">
                            {{ exerciseToStation['exercise_name']|ucfirst }} -> {{ exerciseToStation['station_name']|ucfirst }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <canvas id="exercise-to-station-chart"></canvas>
        </div>
    </div>

    <script src="{{ asset('js/total_lifted_weight_per_training_chart.js') }}"></script>
    <script src="{{ asset('js/time_spent_per_training.js') }}"></script>
    <script src="{{ asset('js/exercise_to_station_metrics_helper.js') }}"></script>
{% endblock %}