{% extends 'base.html.twig' %}
{% block body %}
    <div class="container is-max-desktop">
        <div class="box">
            {% set actualPercent = (metricsHelper.getLiftedKilogramsTotal() / 66000 * 100)|number_format %}
            Aktualny wagon węgla został rozładowany w {{ actualPercent }}%, {{ (metricsHelper.getLiftedKilogramsTotal() / 1000)|number_format }}/66 ton.
            <progress class="progress is-info" value="{{ actualPercent }}" max="100">{{ actualPercent }}%</progress>
        </div>

        <div class="box">
            <canvas
                    id="total-lifted-weight-per-training-chart"
                    data-total-lifted-weight-per-training="{{ metricsHelper.getTotalLiftedWeightPerTraining() }}"
                    data-average-lifted-weight="{{ metricsHelper.getAverageLiftedWeight() }}">
            </canvas>
            <canvas
                    id="time-spent-per-training"
                    data-time-spent-on-gym-per-training-in-minutes="{{ metricsHelper.getTimeSpentOnGymPerTrainingInMinutes() }}"
                    data-average-time-spent-on-gym-in-minutes="{{ metricsHelper.getAverageTimeSpentOnGymInMinutes() }}">
            </canvas>
        </div>
    </div>

    <script src="{{ asset('js/total_lifted_weight_per_training_chart.js') }}"></script>
    <script src="{{ asset('js/time_spent_per_training.js') }}"></script>
{% endblock %}