{% extends 'base.html.twig' %}
{% block body %}
    <div class="container is-max-desktop">
        <div class="box">
            {% set actualPercent = (metricsHelper.getLiftedKilogramsTotal() / 66000 * 100)|number_format %}
            Aktualny wagon węgla został rozładowany w {{ actualPercent }}%, {{ (metricsHelper.getLiftedKilogramsTotal() / 1000)|number_format }}/66 ton.
            <progress class="progress is-info" value="{{ actualPercent }}" max="100">{{ actualPercent }}%</progress>
        </div>

        <div>
            <canvas
                    id="total-lifted-weight-per-training-chart"
                    data-total-lifted-weight-per-training="{{ metricsHelper.getTotalLiftedWeightPerTraining() }}"
                    data-average-lifted-weight="{{ metricsHelper.getAverageLiftedWeight() }}">
            </canvas>
        </div>
    </div>

    <script src="{{ asset('js/total_lifted_weight_per_training_chart.js') }}"></script>
{% endblock %}