{{ form_start(form) }}
<div class="field">
    <label class="label">{{ form_label(form.name) }}</label>
    <div class="control">
        {{ form_widget(form.name) }}
    </div>
    {% for error in form.name.vars.errors %}
        <p class="help is-danger">{{ error.getMessage() }}</p>
    {% endfor %}
</div>

<div class="field">
    <label class="label">{{ form_label(form.exercises) }}</label>
    <div class="control">
        {{ form_widget(form.exercises) }}
    </div>
    {% for error in form.exercises.vars.errors %}
        <p class="help is-danger">{{ error.getMessage() }}</p>
    {% endfor %}
</div>

<div class="field" style="flex-grow: 1;">
    <label class="label">{{ form_label(form.image_upload) }}</label>
    <div class="control">
        <div class="file">
            <label class="file-label">
                {{ form_widget(form.image_upload) }}
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Wybierz plik...
                    </span>
                </span>
            </label>
        </div>
    </div>
    {% for error in form.image_upload.vars.errors %}
        <p class="help is-danger">{{ error.getMessage() }}</p>
    {% endfor %}
</div>

<div class="field" style="margin-bottom: 0;">
    <div class="control">
        {{ form_widget(form.zapisz) }}
    </div>
</div>
{{ form_end(form) }}

<script src="{{ asset('js/attach_tags_input.js') }}"></script>