{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
    </style>

    <div class="container is-max-desktop">
        <div class="content">
            {% for tag, stations in stationsByTag %}
                <div class="box">
                    <h3 class="has-text-centered">{{ tag|ucfirst }}</h3>
                    <table class="table is-striped is-hoverable is-fullwidth">
                        <tbody>
                        {% for key, station in stations %}
                            <tr class="table-item" href="{{ path('station_read', {'id': station['id']}) }}">
                                <td>#{{ key + 1 }}</td>
                                <td>{{ station['name']|ucfirst }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ asset('js/list_helper.js') }}"></script>
{% endblock %}