{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
    </style>
    <div class="container is-max-desktop">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>#</th>
                <th>nazwa</th>
                <th>tagi</th>
            </tr>
            </thead>
            <tbody>
            {% for key, station in stations %}
                <tr class="table-item" href="{{ path('station_read', {'id': station['id']}) }}">
                    <td>{{ key + 1 }}</td>
                    <td>{{ station['name'] }}</td>
                    <td>
                        {% for tag in station['tags'] %}
                            <span class="button is-small is-rounded is-outlined">{{ tag }}</span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{{ asset('js/list_helper.js') }}"></script>
{% endblock %}