<link rel="stylesheet" href="{{ asset('css/checkbox_switch.css') }}">
<style>
    .switch-container {
        height: 40px;
    }
</style>

{{ form_start(form) }}
<div class="field">
    <label class="label">{{ form_label(form.tags_placeholder) }}</label>
    <div class="control">
        {{ form_widget(form.tags_placeholder) }}
    </div>
    <p class="help is-danger">{{ form_errors(form.tags_placeholder) }}</p>
</div>

<div class="field is-grouped">
    <div class="control">
        <label class="label">{{ form.date.vars['label'] }}</label>
        {{ form_widget(form.date) }}
    </div>
    <div class="control">
        <label class="label">&nbsp;</label>
        <div class="switch-container">
            <label class="switch">
                <input
                        type="checkbox"
                        id="{{ form.repeated.vars.id }}"
                        name="{{ form.repeated.vars.full_name }}"
                        value="{{ form.repeated.vars.value }}"
                >
                <div class="slider round"></div>
            </label>
            <div class="switch-desc">{{ form.repeated.vars.label }}</div>
        </div>
    </div>
</div>
{% do form.repeated.setRendered() %}

<div class="field">
    <div class="control">
        {{ form_widget(form.zapisz) }}
    </div>
</div>
{{ form_end(form) }}

<script src="{{ asset('js/checkbox_switch.js') }}"></script>
<script src="{{ asset('js/attach_tags_input.js') }}"></script>
<script src="{{ asset('js/tags_helper.js') }}"></script>