{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
    </style>
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th>#</th>
            <th>data treningu</th>
            <th>co tydzień</th>
            <th>tagi</th>
        </tr>
        </thead>
        <tbody>
        {% for key, training in trainings %}
            <tr class="table-item">
                <td>{{ key + 1 }}</td>
                <td>{{ training['date'].format('d') }} {{ training['date'].format('M') }}</td>
                <td>{{ training['repeated'] == 1 ? 'tak' : 'nie' }}</td>
                <td>
                    {% for tag in training['tags'] %}
                        <span class="button is-small is-rounded is-outlined">{{ tag }}</span>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{{ asset('js/list_helper.js') }}"></script>
{% endblock %}