{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .table-item {
            cursor: pointer;
        }
        .modal .button-container {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
        }
        .modal .button-container .button {
            width: 200px;
        }
    </style>

    <div class="container is-max-desktop">
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th>#</th>
                <th>data treningu</th>
                <th>co tydzień</th>
                <th>status</th>
                <th>tagi</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for key, training in trainings %}

                {% set href = path('training_in_progress_select_exercise', {'trainingId': training['id']}) %}
                {% if 'done' == training['status'] %}
                    {% set href = path('training_read', {'id': training['id']}) %}
                {% endif %}

                <tr class="table-item" href="{{ href }}">
                    <td>{{ key + 1 }}</td>
                    <td>{{ training['date'].format('D') }} {{ training['date'].format('d') }} {{ training['date'].format('M') }}</td>
                    <td>{{ training['repeated'] ? 'tak' : 'nie' }}</td>
                    <td>{{ training['status'] }}</td>
                    <td>
                        {% for tag in training['tags'] %}
                            <span class="button is-small is-rounded is-outlined">{{ tag }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <span data-href="{{ path('training_delete', {'id': training['id']}) }}" class="button is-small is-danger modal-launch-button">usuń</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body">
                Czy na pewno chcesz usunąć ten trening?
                <div class="button-container">
                    <span class="button modal-no-button">nie</span>
                    <span class="button is-danger modal-yes-button">tak</span>
                </div>
            </section>
        </div>
    </div>

    <script src="{{ asset('js/modal_helper.js') }}"></script>
    <script src="{{ asset('js/list_helper.js') }}"></script>
{% endblock %}