{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .no-borders {
            border-bottom: none !important;
            border-left: none !important;
        }
    </style>

    <div class="container is-max-desktop">
        <p class="title is-4">Data treningu: {{ training.getDate().format('D') }} {{ training.getDate().format('d-m-Y') }} r.</p>
        <p class="subtitle is-6">
            Łącznie podniesiono: {{ liftedKilograms }} kg.
        </p>
        <div class="columns">
            {% for tag, stations in liftedWeights %}
                <div class="column">
                    <p class="title is-4">{{ tag|capitalize }}</p>
                    <div class="lifted-weights">
                        {% for station, series in stations %}
                            {% for exerciseName, exercises in series %}
                                <table class="table is-striped is-bordered is-fullwidth">
                                    <tr>
                                        <td colspan="3" class="has-text-centered">
                                            {{ station|capitalize }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <span class="icon">
                                                <i class="fas fa-dumbbell"></i>
                                            </span>
                                            {{ exerciseName|capitalize }}
                                        </td>
                                    </tr>
                                    {% set exerciseKilogramsTotal = 0 %}
                                    {% for key, exercise in exercises %}
                                        <tr>
                                            <td>
                                                #{{ key + 1 }}
                                            </td>
                                            <td>
                                                {{ exercise['repetition_count'] }} x
                                            </td>
                                            <td>
                                                {{ exercise['kilogram_count'] }} kg
                                                {% set exerciseKilogramsTotal = exerciseKilogramsTotal + (exercise['repetition_count'] * exercise['kilogram_count']) %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2" class="no-borders"></td>
                                        <td>{{ exerciseKilogramsTotal }} kg</td>
                                    </tr>
                                </table>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}