{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .no-borders {
            border-bottom: none !important;
            border-left: none !important;
        }
        .title-container {
            border: 1px solid rgb(219, 219, 219);
            padding: 0.5em 0.75em;
            margin-bottom: 1.5rem;
            text-align: center;
        }
    </style>

    <div class="container is-max-desktop is-variable is-0-mobile">
        <p class="title is-4">Data treningu: {{ training.getTrainingDate().format('D') }} {{ training.getTrainingDate().format('d-m-Y') }} r.</p>
        <p class="subtitle is-6">
            Łącznie podniesiono: {{ liftedKilograms }} kg.
        </p>
        <div class="columns">
            {% for tag, stations in liftedWeights %}
                <div class="column">
                    <div class="title-container">
                         <span class="icon">
                                <i class="fas fa-arrow-down"></i>
                            </span>
                        {{ tag|ucfirst }}
                    </div>
                    <div class="lifted-weights">
                        {% for station, series in stations %}
                            {% for exerciseName, exercises in series %}
                                <table class="table is-striped is-bordered is-fullwidth">
                                    <tr>
                                        <td colspan="3" class="has-text-centered">
                                            {{ station|ucfirst }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <span class="icon">
                                                <i class="fas fa-dumbbell"></i>
                                            </span>
                                            {{ exerciseName|ucfirst }}
                                        </td>
                                    </tr>
                                    {% set exerciseKilogramsTotal = 0 %}
                                    {% for key, exercise in exercises %}
                                        {% set hasSeparateLoad = exercise['separate_load'] %}
                                        {% set kilogramCount = exercise['kilogram_count'] %}
                                        {% if hasSeparateLoad %}
                                            {% set kilogramCount = kilogramCount * 2 %}
                                        {% endif %}
                                        <tr>
                                            <td>
                                                #{{ key + 1 }}
                                            </td>
                                            <td>
                                                {{ exercise['repetition_count'] }} x
                                            </td>
                                            <td>
                                                {% if hasSeparateLoad %}
                                                    ({{ exercise['kilogram_count'] }}) {{ kilogramCount }} kg
                                                {% else %}
                                                    {{ exercise['kilogram_count'] }} kg
                                                {% endif %}
                                            </td>
                                            {% set exerciseKilogramsTotal = exerciseKilogramsTotal + (exercise['repetition_count'] * kilogramCount) %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2" class="no-borders"></td>
                                        <td>{{ exerciseKilogramsTotal }} kg</td>
                                    </tr>
                                </table>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}