{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .series-counter, .weight-counter {
            display: flex;
            margin: 0 0 1rem 0.5rem;
        }
        .runner-counter {
            display: flex;
        }
        .button-container, .digit-container {
            width: 80px;
            height: 120px;
            display: flex;
            flex-direction: column;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            -webkit-tap-highlight-color: transparent;
        }
        .digit-container, .desc-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 2rem;
        }
        .digit-container .digit, .desc-container .desc {
            font-size: 100px;
            line-height: 0;
        }
        .button-add, .button-subtract {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50%;
            background-color: #f4f4f4;
            border: 1px solid #dbdbdb;
            cursor: pointer;
        }
        .button-add {
            border-radius: 10px 10px 0 0;
        }
        .button-subtract {
            border-radius: 0 0 10px 10px;
        }
        .button-add:active, .button-subtract:active {
            background-color: #efefee;
        }
        .subtitle {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
        }
    </style>

    <div class="container is-max-desktop">
        <p class="title is-4">{{ station['name']|ucfirst }}</p>
        <p class="subtitle is-6 modal-launch-button">
            <span class="icon">
                <i class="fas fa-dumbbell"></i>
            </span>
            {{ exercise.getName()|ucfirst }}
            <br>
            <span class="icon">
                <i class="fas fa-stopwatch"></i>
            </span>
            Timer: <span class="seconds-counter">60</span> s
        </p>

        {{ include('training_in_progress/runner_modal.html.twig') }}

        {% set repetitionCount = 12 %}
        {% set kilogramCount = 30 %}
        {% if bestRepetition is not null %}
            {% set repetitionCount = bestRepetition['repetition_count'] %}
            {% set kilogramCount = bestRepetition['kilogram_count'] %}
        {% endif %}

        <div class="series-counter">
            <div class="button-container">
                <button class="button-add" onclick="changeValue('repetition-counter', 'increase')">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="button-subtract" onclick="changeValue('repetition-counter', 'decrease')">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="digit-container">
                <div class="digit repetition-counter">
                    {{ repetitionCount }}
                </div>
            </div>
            <div class="desc-container">
                <div class="desc">
                    x
                </div>
            </div>
        </div>

        <div class="weight-counter">
            <div class="button-container">
                <button class="button-add" onclick="changeValue('kilogram-counter', 'increase')">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="button-subtract" onclick="changeValue('kilogram-counter', 'decrease')">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="digit-container">
                <div class="digit kilogram-counter">
                    {{ kilogramCount }}
                </div>
            </div>
            <div class="desc-container">
                <div class="desc">
                    kg
                </div>
            </div>
        </div>

        <button class="button is-primary is-fullwidth" onclick="saveExerciseProgress('{{ trainingId }}', '{{ stationId }}', '{{ exerciseId }}')">zapisz</button>

        <table class="table is-fullwidth is-striped mt-2 mb-6">
            <tbody>
            {% if liftedWeights is not empty %}
                {% for key, liftedWeight in liftedWeights %}
                    <tr id="{{ liftedWeight.getId() }}">
                        <td>#{{ key + 1 }}</td>
                        <td>{{ liftedWeight.getRepetitionCount() }} x</td>
                        <td>{{ liftedWeight.getKilogramCount() }} kg</td>
                        <td>
                            <button onclick="deleteExerciseProgress('{{ liftedWeight.getId() }}')" class="button is-danger is-small is-pulled-right">usuń</button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

        <canvas id="exercise-to-station-chart" data-exercise-id="{{ exerciseId }}" data-station-id="{{ stationId }}"></canvas>
    </div>

    <script src="{{ asset('js/countdownTimer.min.js') }}"></script>
    <script src="{{ asset('js/exercise_in_progress_helper.js') }}"></script>
    <script src="{{ asset('js/modal_helper.js') }}"></script>
    <script src="{{ asset('js/exercise_to_station_metrics_helper.js') }}"></script>
{% endblock %}