{% extends 'base.html.twig' %}
{% block body %}
    <style>
        .tag-name {
            border: 1px solid rgb(219, 219, 219);
            font-weight: bolder;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            max-height: 42px;
        }
        .ornament-container {
            display: flex;
            margin-right: -96px;
        }
        .ornament {
            margin-left: -90px !important;
            height: 1px;
            width: 100px;
            rotate: 50deg;
            background-color: rgb(219, 219, 219);
        }
        .station-container {
            border-bottom: 1px solid rgb(219, 219, 219);
            margin-left: 7px;
        }
        .station-container:last-child {
            border: none;
        }
        .tag-container:last-child .station-container:last-child {
            border-bottom: 1px solid rgb(219, 219, 219) !important;
        }
        .tag-container > div {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        .tag-container div {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }
        .tag-name {
            padding-left: 0.5rem;
        }
        .exercise-container {
            padding-left: 29px;
        }
        .exercise-name {
            margin-left: 0.5rem;
        }
        .button .icon {
            margin-top: 5px;
        }
        .exercise {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
        }
        .exercise:last-child {
            margin-bottom: 0;
        }
    </style>

    <div class="container is-max-desktop">
        {% set actualStatus = helper.getTraining().getStatus() %}
        {% set isInProgress = 'in_progress' == actualStatus %}
        <button id="training-status-button" class="button is-fullwidth is-small mb-3 {{ isInProgress ? 'is-warning' : 'is-success' }}" data-training-id="{{ trainingId }}" data-actual-status="{{ actualStatus }}">
            {{ isInProgress ? 'zakończ trening' : 'rozpocznij trening' }}
        </button>

        {% for tag in helper.getTrainingTags() %}
            <div class="tag-container">
                <div class="tag-name">
                    <div>{{ tag.getValue()|ucfirst }}</div>
                    <div class="ornament-container">
                        {% for i in 0..20 %}
                            <hr class="ornament">
                        {% endfor %}
                    </div>
                </div>
                {% for station in helper.getStationsForTag(tag) %}
                    <div class="station-container">
                        <div class="station-name">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                            {{ station.getName() }}
                        </div>
                        <div class="exercise-container">
                            {% for exercise in helper.getExercisesForStationAndTag(station, tag) %}
                                <div class="exercise">
                                    <a href="{{ path('training_in_progress_exercise_in_progress', {'trainingId': trainingId, 'stationId': station.getId(), 'exerciseId': exercise.getId()}) }}" class="button is-success is-small">
                                        <i class="fas fa-dumbbell"></i>
                                    </a>
                                    {% set seriesCount = helper.getSeriesCount(station.getId(), exercise.getId()) %}
                                    <div class="exercise-name">{{ exercise.getName() }} {{ seriesCount == 0 ? '' : '(' ~ seriesCount ~ ')' }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <script src="{{ asset('js/training_status_helper.js') }}"></script>
{% endblock %}